<h3>Welcome to Blackjack</h3>
<form action="/generate_player" method="post">
  <p>Player name: <input type="text" name="player_name" /></p>
  <input type="submit" value="Submit" class="btn" />
</form>