<h3>Welcome to Blackjack</h3>

<form action='/setup' method='post'>
  Enter your name: <input type='text' name='player_name' id='pname_field'><br>
  <input type='submit' value='Submit' class='btn' id='pname_submit'>
</form>